[Unit]
Description=vm_logger
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/Desktop/DECK1-Project-VMLog/scripts/Main.py

[Install]
WantedBy=multi-user.target

